<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styleSheet/style.css">
</head>

<body>
    <div class="main">
        <div class="loginform">
            <img src="../images/logo_1.png" alt="">
            <form id="logForm">
                <h2>Login</h2>

                <p id="responseMessage"></p>
                <input type="text" id="email" placeholder="Enter your email address" name="email" required>
                <input type="password" id="password" placeholder="Enter password" name="password" required>
                <button type="submit">Login</button>
                <h4>Don't have account ? <a href="./signuppage">register now</a></h4>
            </form>
        </div>
    </div>


    <script src="../js/login_script.js"></script>

</body>

</html>