<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styleSheet/success.css">
</head>
<body>
    <div class="imagediv">
        <div class="center">
            <img class="sucImg" src="../images/pngwing.com.png" alt="">
            <h1>Payment Success</h1>
            <a href="/product">
                <button class="cs">
                    Continue Shopping
                </button>
            </a>
        </div>
    </div>
</body>
</html>